# Description
This is a test notebook

In [1]:
print('hello world')

hello world

In [ ]:
print('autosave?')

# Insert data

In [1]:
# The code was removed by Watson Studio for sharing.

,T02,"Population, density and surface area",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Region/Country/Area,NaN,Year,Series,Value,Footnotes,Source
1,1,"Total, all countries or areas",2010,Population mid-year estimates (millions),"6,985.60",NaN,"United Nations Population Division, New York, ..."
2,1,"Total, all countries or areas",2010,Population mid-year estimates for males (milli...,"3,514.41",NaN,"United Nations Population Division, New York, ..."
3,1,"Total, all countries or areas",2010,Population mid-year estimates for females (mil...,"3,471.20",NaN,"United Nations Population Division, New York, ..."
4,1,"Total, all countries or areas",2010,Sex ratio (males per 100 females),101.2,NaN,"United Nations Population Division, New York, ..."